.container{
    font-size: 20px;
    color: #F37121;
}

.myName{
    color: #F7EA00;
    font-size: 20px;
    
}

.clockText{
    color:#F37121;
    font-weight: bold;
    font-size: 20px;
}
.title{
color: aqua;
font-size:22px;

}
.text-center{
 margin: 7rem;
   
    
}